<div class="navbar ">
    <div class="status">
        <div class="status-item ">
            <img src="../../assets/icon1.PNG" alt="">
            <span class="text-muted mx-2 fs-5">2/3</span>
            <span class="item-test text-muted  ">Monitored <br> Stations</span>

        </div>
        <div class="status-item">
            <img src="../../assets/icon2.PNG" alt="">
            <span class="text-muted mx-2 fs-5">20s</span>
            <span class="item-test text-muted  ">Last <br>Update </span>
        </div>
    </div>
    <div class="tabs ">
        <button class="tab active">TODAY</button>
        <button class="tab">YESTERDAY</button>
        <button class="tab">LAST WEEK</button>
    </div>
    <div class="date-picker">
        <i class="fa-solid fa-play "></i>
        <div class="date-item ms-3">
            
            <span class="text-muted d-inline ">Start date-time</span>
            <i class="fa-regular fa-calendar text-muted text-dark ms-5"></i>

        </div>
        <i class="fa-solid fa-square ms-5"></i>
        <div class="date-item "> 
            <span class="text-muted">End date-time</span>
            <i class="fa-regular fa-calendar text-muted text-dark ms-5"></i>
        </div>
    </div>
</div>