
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar ">
            <div class="sidebar-sticky ">
                <ul class="nav text-white text-muted">
                    <li class="nav-item mt-4 fs-4">
                        <a class="nav-link active" href="#">
                            <img src="../../assets/0.PNG" alt="">
                        </a>
                    </li>

                    <ul  class="navitems text-white fs-4">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <!-- <i class="fas fa-columns"></i> -->
                                <img src="../../assets/2.PNG" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <!-- <i class="fas fa-layer-group"></i> -->
                                <img src="../../assets/1.PNG" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                               <!-- <i class="fa-regular fa-gear"></i> -->
                               <img src="../../assets/3.PNG" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <!-- <i class="fas fa-bell"></i> -->
                                <img src="../../assets/4.PNG" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <!-- <i class="fas fa-bell"></i> -->
                                <img src="../../assets/5.PNG" alt="">
                            </a>
                        </li>
                    </ul>


                    <li class="nav-item fs-4 mb-4">
                        <a class="nav-link" href="#">
                            <img src="../../assets/6.PNG" alt="">
                        </a>
                    </li>
                </ul>


            </div>
        </nav>
    </div>
