


<div class="col-md-12">
    <div class="card mb-4 shadow-sm p-3">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-white ">
                <div class="container">
                    <div class="nav-item ">
                        <a class="text-dark text-muted text-uppercase" href="#">Stations Activates
                            Overview</a>
    
                    </div>
    
                    <div>
                        <ul class="navbar-nav me-auto mb-lg-0">
                            <li class="nav-item ">
                                <a class="nav-link hove " href="#">SALES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-3" href="#">TRANSACTION<br>N</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">VALUE <br>E</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-3" href="#">COMPRESSION</a>
                            </li>
    
    
                        </ul>
    
                    </div>
                </div>
            </nav>
    
    
        </div>
        <div class="card-body ">
            <canvas #salesChart height="100px"></canvas>
    
        </div>
    </div>                   
</div> 