<div class="col-md-12 p-2">
    <div class="row mb-1">
        <div class="col-md-12">
            <div class="station-card">
                <div class="station-header mb-4">
                    <div class="slider">
                        <img src="../../assets/88.PNG" alt="" class="w-25">
                        <span class="station-name d-inline text-muted ">STATION NAME DUMMY</span>
                    </div>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="detail"><span>Total Sales:</span> </div>

                    </div>
                    <div class="col-md-2">

                        <div class="detail "><span>62,721 m<sup>3</sup></span> </div>
                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span>Compression State:</span> </div>

                    </div>
                    <div class="col-md-2">
                        <div class="detail  "><span>Compression</span> </div>

                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span>Max Transaction/Hour:</span> </div>

                    </div>
                    <div class="col-md-2">

                        <div class="detail "><span>20</span> </div>
                    </div>




                    <div class="col-md-2">
                        <div class="detail"><span>Total Value:</span> </div>

                    </div>

                    <div class="col-md-2">
                        <div class="detail "><span> 550 EGP</span> </div>

                    </div>

                    <div class="col-md-2">
                        <div class="detail"><span>Total Transaction :</span> </div>

                    </div>
                    <div class="col-md-2">

                        <div class="detail "><span>5161</span> </div>
                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span>Max Transaction Date:</span> </div>

                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span> 8-1-2021 | 10:16 PM</span> </div>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
<div class="col-md-12 p-2 ">
    <div class="row mb-1">
        <div class="col-md-12">
            <div class="station-card">
                <div class="station-header mb-4">
                    <div class="slider">
                        <img src="../../assets/88.PNG" alt="" class="w-25">
                        <span class="station-name d-inline text-muted ">STATION NAME DUMMY</span>
                    </div>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="detail"><span>Total Sales:</span> </div>

                    </div>
                    <div class="col-md-2">

                        <div class="detail "><span>62,721 m<sup>3</sup></span> </div>
                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span>Compression State:</span> </div>

                    </div>
                    <div class="col-md-2">
                        <div class="detail  "><span>Compression</span> </div>

                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span>Max Transaction/Hour:</span> </div>

                    </div>
                    <div class="col-md-2">

                        <div class="detail "><span>20</span> </div>
                    </div>




                    <div class="col-md-2">
                        <div class="detail"><span>Total Value:</span> </div>

                    </div>

                    <div class="col-md-2">
                        <div class="detail "><span> 550 EGP</span> </div>

                    </div>

                    <div class="col-md-2">
                        <div class="detail"><span>Total Transaction :</span> </div>

                    </div>
                    <div class="col-md-2">

                        <div class="detail "><span>5161</span> </div>
                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span>Max Transaction Date:</span> </div>

                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span> 8-1-2021 | 10:16 PM</span> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 p-2">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="station-card">
                <div class="station-header mb-4">
                    <div class="slider">
                        <img src="../../assets/88+.PNG" class="w-25" alt="">
                        <span class="station-name d-inline text-muted ">STATION NAME DUMMY</span>
                    </div>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="detail"><span>Total Sales:</span> </div>

                    </div>
                    <div class="col-md-2">

                        <div class="detail "><span>62,721 m<sup>3</sup></span> </div>
                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span>Compression State:</span> </div>

                    </div>
                    <div class="col-md-2">
                        <div class="detail  "><span>Compression</span> </div>

                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span>Max Transaction/Hour:</span> </div>

                    </div>
                    <div class="col-md-2">

                        <div class="detail "><span>20</span> </div>
                    </div>




                    <div class="col-md-2">
                        <div class="detail"><span>Total Value:</span> </div>

                    </div>

                    <div class="col-md-2">
                        <div class="detail "><span> 550 EGP</span> </div>

                    </div>

                    <div class="col-md-2">
                        <div class="detail"><span>Total Transaction :</span> </div>

                    </div>
                    <div class="col-md-2">

                        <div class="detail "><span>5161</span> </div>
                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span>Max Transaction Date:</span> </div>

                    </div>
                    <div class="col-md-2">
                        <div class="detail"><span> 8-1-2021 | 10:16 PM</span> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
